@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body{
    position: relative;
    width: 1440px;
    height: 1024px;

/* Light blue/light-blue-100 */

    background: #F3F5FC;
}

.logo{
    position: absolute;
    height: 48px;
    width: 31.085588455200195px;
    left: 44px;
    top: 0px;
    padding: 31px;
    border-radius: 0px;
}

.ingrese{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    /* Dark blue/dark-blue-300 */

    color: #0A3871;

}

.ingrese:link{
    
}

.botones{
    flex-direction: row;
    padding: 885px 72px 872px 240px;

   
}

.solo{
    padding: 16px;
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.encriptar{
    padding: 30px;
    gap: 8px;
    color: white;
    width: 260px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.desencriptar{
    
box-sizing: border-box;
padding: 30px;
gap: 8px;
color:  #0A3871;
width: 260px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.caja2{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.caja2 li{
    width: 336px;
    height: 304px;
    left: 1032px;
    margin-top: 283px;
    margin-left: 32px;
}

.mensaje-noencontrado{
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ingresa-texto{
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}




